<h1>Listing instruction_sets</h1>

<table>

<% @instruction_sets.each do |instruction_set| %>
  <tr>
    <td><%= instruction_set.name %></td>
    <td><%= link_to 'Show', instruction_set %></td>
    <td><%= link_to 'Edit', edit_instruction_set_path(instruction_set) %></td>
    <td><%= link_to 'Destroy', instruction_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Execute', instruction_set, method: :execute %> </td> 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instruction set', new_instruction_set_path %><br />
<%= link_to 'TEST New Webpage', new_web_page_path %> <br />
<%= link_to 'Show Instruction Templates', instruction_templates_path %> <br />
